<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <link rel = 'stylesheet' href = 'static/css/style.css'>
    </head>
    <body>
        <form action = '/esercizio1' method = 'get'>
            {% for q in lista%}
                <input type = 'radio' name = 'quartiere' value = '{{q}}'>{{q}}<br>
            {% endfor %}
            <input type = 'submit' value = 'clicca per visualizzare i dati su una mappa'>
        </form><br>
        <form action = '/esercizio2' method = 'get'>
            <input type = 'text' name = 'longitudine' > inserisci una longitudine<br>
            <input type = 'text' name = 'latitudine' > inserisci una latitudine<br>
            <input type = 'submit' value = 'clicca per visualizzare i dati su una mappa'>
        </form><br>
    </body>
</html>